@model OStore.Models.Orders.SearchConditionViewModel


<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.SaleChannelId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4 form-inline">
            @Html.DropDownListFor(model => model.SaleChannelId, Model.SaleChannels, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SaleChannelId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-inline">
            @DateTime.Now.ToString("MMMM dd, yyyy HH:mm")
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ProvinceId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4 form-inline">
            @Html.DropDownListFor(model => model.ProvinceId, Model.Provinces, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProvinceId, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.CutOffTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4 form-inline">
            @Html.DisplayFor(model => model.CutOffTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CutOffTime, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrderDateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4 form-inline">
            @Html.EditorFor(model => model.OrderDateFrom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderDateFrom, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.PickupTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4 form-inline">
            @Html.DisplayFor(model => model.PickupTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PickupTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrderDateTo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.OrderDateTo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderDateTo, "", new { @class = "text-danger" })
        </div>
    </div>
</div>