@model IEnumerable<OStore.Models.Orders.OrderInfoViewModel>

@{
    ViewBag.Title = "CreateManualOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../Content/Footable/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../Content/Footable/footable.core.css?v=2-0-1" rel="stylesheet" type="text/css" />
<script src="../Scripts/Footable/footable.js?v=2-0-1" type="text/javascript"></script>
<script src="../Scripts/Footable/footable.paginate.js?v=2-0-1" type="text/javascript"></script>
<script src="../Scripts/Footable/footable.sort.js?v=2-0-1" type="text/javascript"></script>
<script src="../Scripts/Footable/footable.filter.js?v=2-0-1" type="text/javascript"></script>

<div class="row">
    <h2>@GlobalResources.StringResource.Ordermanagement_Pay_COD_Title</h2>
</div>

<div class="tab-content">
    <div class="panel form-inline" style="padding:10px;">
        <select class="form-control">
            <option value="1">Uncall</option>
            <option value="2">Confirm</option>
            <option value="3">Cancel</option>
        </select>
    </div>

    <div class="panel" id="demo">
        <table class="table demo" data-filter="#filter" data-filter-text-only="true" data-page-size="10">
            <thead>
                <tr>
                    <th data-toggle="true">
                        @GlobalResources.StringResource.OrderManagement_Pay_OrderId
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_OrderDate
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_TimeLap
                    </th>
                    <th>
                        @GlobalResources.StringResource.OrderManagement_Pay_CustomerName
                    </th>
                    <th>
                        @GlobalResources.StringResource.OrderManagement_Pay_Mobile
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_Price
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_StatusId
                    </th>
                    <th data-hide="all">
                        @GlobalResources.StringResource.OrderManagement_Pay_StoreStaff
                    </th>
                    <th data-hide="all">
                        @GlobalResources.StringResource.OrderManagement_Pay_ItemLine
                    </th>
                    <th data-hide="all">
                        @GlobalResources.StringResource.OrderManagement_Pay_ItemCode
                    </th>
                    <th data-hide="all">
                        @GlobalResources.StringResource.OrderManagement_Pay_ItemDescription
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>
                            <a href="~/SaleChannel/CreateOrderManual?id=@m.OrderId">@m.OrderId</a>
                        </td>
                        <td>
                            @m.OrderDate
                        </td>
                        <td>
                            @m.TimeLaps
                        </td>
                        <td>
                            @m.CustomerName
                        </td>
                        <td>
                            <a href="~/Order/OrderContactDetail?id=@m.OrderId"><img src="~/Content/Images/logo_Phone.png" height="30" />@m.Mobile</a>
                        </td>
                        <td>
                            @m.Price
                        </td>
                        <td>
                            @Html.DropDownListFor(n => m.StatusId, m.Statuses, "", new { @class = "form-control" })
                        </td>
                        <td>
                            @m.StoreStaff
                        </td>
                        <td>
                            @m.ItemLine
                        </td>
                        <td>
                            @m.ItemCode
                        </td>
                        <td>
                            @m.ItemDescription
                        </td>
                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="11">
                        <div class="pagination pagination-centered"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('table').footable().bind('footable_filtering', function (e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0) {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });

        $('table').bind('footable_breakpoint', function () {
            $('table').trigger('footable_expand_first_row');
        });

        $('.clear-filter').click(function (e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function (e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
        });

        $('.filter-api').click(function (e) {
            e.preventDefault();

            //get the footable filter object
            var footableFilter = $('table').data('footable-filter');

            alert('about to filter table by "tech"');
            //filter by 'tech'
            footableFilter.filter('tech');

            //clear the filter
            if (confirm('clear filter now?')) {
                footableFilter.clearFilter();
            }
        });

        $('#change-page-size').change(function (e) {
            e.preventDefault();
            var pageSize = $(this).val();
            $('.footable').data('page-size', pageSize);
            $('.footable').trigger('footable_initialized');
        });

        $('#change-nav-size').change(function (e) {
            e.preventDefault();
            var navSize = $(this).val();
            $('.footable').data('limit-navigation', navSize);
            $('.footable').trigger('footable_initialized');
        });
    });


</script>