@model IEnumerable<OStore.Models.Orders.OrderInfoViewModel>


<div class="tab-content">
    <div class="panel" id="demo">

        <div class="col-md-6 form-inline">
            <input id="filter" type="text" class="form-control filter-status" placeholder="Search..." />

        </div>

        <table class="table table-hover" data-filter="#filter" data-filter-text-only="true" data-page-size="10">
            <thead>
                <tr>
                    <th data-toggle="true">
                        @GlobalResources.StringResource.OrderManagement_Pay_OrderId
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_OrderDate
                    </th>
                    <th>
                        @GlobalResources.StringResource.OrderManagement_Pay_TimeLap
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_CustomerName
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_Mobile
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_Line
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_Price
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_StatusId
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_Remark
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_StoreStaff
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_ItemLine
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_ItemCode
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_ItemDescription
                    </th>
                    <th data-hide="phone,tablet">
                        @GlobalResources.StringResource.OrderManagement_Pay_Reason
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>
                            @m.OrderId
                        </td>
                        <td>
                            @m.OrderDate
                        </td>
                        <td>
                            @m.TimeLaps
                        </td>
                        <td>
                            @m.CustomerName
                        </td>
                        <td>
                            @m.Mobile
                        </td>
                        <td>
                            @m.Line
                        </td>
                        <td>
                            @m.Price
                        </td>
                        <td>
                            @m.StatusId
                            @Html.DropDownListFor(n => m.StatusId, m.Statuses, "Please Select", new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @m.Remark
                        </td>
                        <td>
                            @m.StoreStaff
                        </td>
                        <td>
                            @m.ItemLine
                        </td>
                        <td>
                            @m.ItemCode
                        </td>
                        <td>
                            @m.ItemDescription
                        </td>
                        <td>
                            @m.Reason
                        </td>
                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination pagination-centered"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">


    $(function () {
        $('table').footable().bind('footable_filtering', function (e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0) {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });

        $('table').bind('footable_breakpoint', function () {
            $('table').trigger('footable_expand_first_row');
        });

        $('.clear-filter').click(function (e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function (e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', { filter: $('#filter').val() });
        });

        $('.filter-api').click(function (e) {
            e.preventDefault();

            //get the footable filter object
            var footableFilter = $('table').data('footable-filter');

            alert('about to filter table by "tech"');
            //filter by 'tech'
            footableFilter.filter('tech');

            //clear the filter
            if (confirm('clear filter now?')) {
                footableFilter.clearFilter();
            }
        });

        $('#change-page-size').change(function (e) {
            e.preventDefault();
            var pageSize = $(this).val();
            $('.footable').data('page-size', pageSize);
            $('.footable').trigger('footable_initialized');
        });

        $('#change-nav-size').change(function (e) {
            e.preventDefault();
            var navSize = $(this).val();
            $('.footable').data('limit-navigation', navSize);
            $('.footable').trigger('footable_initialized');
        });
    });
</script>