@model IEnumerable<OStore.Models.PaymentChannelModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">
    <h2 class="page-header">Payment channel</h2>h2
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    @foreach (var channel in Model)
                    {
                        <li class="@(channel.Name=="COD"?"active":"")">
                            <a href="#@channel.Id"  data-toggle="tab">@channel.Name</a>
                        </li>
                    }
                </ul>
                <div class="tab-content">
                    @foreach (var channel in Model)
                    {
                        <div class="tab-pane fade in @(channel.Name=="COD" ? "active" : "")" id="@channel.Id">
                            <h4>
                                @Html.CheckBox(channel.Name, true) Set up @channel.Description
                            </h4>

                            @foreach (var account in channel.Accounts)
                            {
                                <p>>Bank Account</p>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2 col-xs-12">
                                            Bank :
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="text" name="Bank" id="Bank" value=@account.BankId />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2 col-xs-12">
                                            Account name :
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="text" name="Bank" id="Bank" value=@account.BankId />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2 col-xs-12">
                                            Branch :
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="text" name="Bank" id="Bank" value=@account.BankId />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2 col-xs-12">
                                            Account No. :
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <input type="text" name="Bank" id="Bank" value=@account.BankId />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-md-12 form-inline text-right">
    <div class="btn btn-default">
        @Html.ActionLink("Save", "Index", "Payment")
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Cancel", "Index", "Payment")
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Apply", "Index", "Payment")
    </div>
</div>